@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Montserrat:wght@400;500;800&display=swap');

*{
  padding: 0;
  margin: 0;
  color: white;
}

body,html{
  background-color: black;
}

#main-page{
  margin: 50px;
  display: flex;
}

#product-section{
  margin: 0 50px;
}

#product-brief-info *{
  margin: 10px 0;
}

#product-brief-info h1{
  font-family: "DM Sans";
  font-size: 32px;
  font-weight: 700;
}

#product-brief-info p{
  font-size: 18px;
  font-weight: light;
  font-family: 'Montserrat';
}

#product-ratings-reviews{
  display: flex;
}

#rating-reviews{
  display: flex;
  justify-content: center;
  align-items: center;
}

#rating-reviews *{
  margin: 0 15px 0 0;
}

#rating-reviews p{
  opacity: 0.5;
}

#product-price-value{
  display: flex;
  align-items: center;
  margin: 3em 0;
  justify-content: flex-start;
  font-family: 'Montserrat';
}

#product-price-value h1{
  font-size: 40px;
  margin: 0 1.2em 0 0;
  font-weight: 700;
}

#product-price-value h1:nth-child(2){
  opacity: 0.4;
  font-size: 31px;
  text-decoration: line-through;
}

#product-monthly-pack-pricing{
  width: 60%;
}


#one-month-pack, #three-month-pack{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  border-radius: 20px;
  background-color: rgba(56, 56, 56, 0.63);
  padding: 1.8em 3em;
}

#pack-tags{
  display: flex;
}

#pack-tags p{
  margin: 0 20px 0 0;
  padding: 0.5em 1em;
  font-size: 10px;
  font-weight: 500;
  font-family: 'Montserrat';
}

#pack-tags p{
  color: black;
  background-color: rgb(209, 178, 1);
}

#pack-tags *{
  border-radius: 100px;
}

#pack-details{
  margin: 10px 0;
}

#pack-details h1{
  font-size: 32px;
  font-family: 'Dm Sans';
}

#pack-details p{
  font-size: 18px;
  font-family: 'Montserrat';
  opacity: 0.5;
}

#pack-details #saved-percent{
  margin: 10px 0;
}

#pack-details #saved-percent h1{
  color: rgb(209, 178, 1);
  font-weight: 400;
  font-size: 12px;
  font-family: 'Montserrat';
}

#pack-pricing{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#pack-pricing h1{
  font-size: 32px;
  font-family: 'Montserrat';
}

#pack-pricing h1:nth-child(2){
  font-size: 28px;
  opacity: 0.4;
  text-decoration: line-through;
}

